@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cyberpunk {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: white;
    text-shadow: 2px 2px 3px #03bcf4, 0 0 5px #03bcf4, 0 0 20px #03bcf4,
      0 0 30px #03bcf4;
  }
}

@keyframes rgb {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
.titulo-redondo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #3490dc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  shape-outside: circle();
  clip-path: circle();
}

#texto {
  height: 160px;
  font-size: 20px;
}

span {
  position: absolute;
  transform-origin: 0 80px;
}